{% extends 'blog/base.html' %}
{% block content %}

<!-- <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value= "Post">
</form> -->

<div class="form-border-box">
    <h2>Create a Post</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- <div class="mb-3">
            <label for="id_name" class="form-label">Name :</label>
            <input type="text" name="name" maxlength="255" required="" class="form-control" id="id_name">
        </div> -->
        <div class="d-none">
            <input type="text" name="name" maxlength="250" required="" value="{{ request.user.id }}" id="id_name">
        </div>
        <div class="mb-3">
            <label for="id_address" class="form-label">Address :</label>
            <input type="text" name="address" maxlength="255" required="" class="form-control" id="id_address">
        </div>
        <div class="mb-3">
            <label for="id_phone" class="form-label">Phone :</label>
            <input type="text" name="phone" maxlength="255" required="" class="form-control" id="id_phone">
        </div>
        
        <input type="submit" value= "Post">
    </form>
</div>

{% endblock %}